.form-container {
    width: 100%;
    opacity: 0;
}

.animate-slide-in-left .form-container {
    animation: slideInLeft 0.5s ease-in-out forwards;
}

.animate-slide-in-right .form-container {
    animation: slideInRight 0.5s ease-in-out forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}